@using System.Configuration
@using System.Linq;

@{
  Layout = null;
  var action = ((string)ViewContext.RouteData.Values["Action"]).ToLower();

  var blogTitle = ConfigurationManager.AppSettings["BlogTitle"];
  var feedBurnerUrl = ConfigurationManager.AppSettings["FeedBurnerUrl"];

  // Social links
  var twitter = ConfigurationManager.AppSettings["Twitter"];
  var facebook = ConfigurationManager.AppSettings["Facebook"];
  var pininterest = ConfigurationManager.AppSettings["Pininterest"];
}


<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <title>@ViewBag.Title</title>

  <meta content="Bootsrap based theme" name="description">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/Assets/themes/smartbox/javascripts/PIE.js"></script>
  <![endif]-->
  <link href="apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon-precomposed">

  @Styles.Render("~/Assets/themes/smartbox/stylesheets/css")
</head>
<body>

  <div class="wrapper">
    <!-- Page Header -->
    <header id="masthead">
      <nav class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <h1 class="brand">
              <a href="/">
                @blogTitle
              </a>
            </h1>

            <!-- Navigation -->
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li class="@(new[]{"posts", "post", "tag", "category", "search"}.Contains(action) ? "active" : "")">
                  @Html.ActionLink("Posts", "Posts")</li>
                <li class="@(action == "contact" ? "active" : "")">@Html.ActionLink("Contact", "Contact")</li>
                <li class="@(action == "aboutme" ? "active" : "")">@Html.ActionLink("About Me", "Aboutme")</li>
              </ul>
            </div>

          </div>
        </div>
      </nav>
    </header>

    <!-- Main Content -->
    <div id="content" role="main">
      @RenderBody()
    </div>
  </div>
  <!-- Page Footer -->
  <footer id="footer" role="contentinfo">
    <div class="wrapper wrapper-transparent">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span6 small-screen-center">
              Copyright © @DateTime.Now.Year @blogTitle All Rights Reserved 
          </div>
          <div class="span6">
            <ul class="unstyled inline text-right small-screen-center big social-icons">
              <li>
                <a data-iconcolor="#00a0d1" href="@twitter">
                  <i class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a data-iconcolor="#3b5998" href="@facebook">
                  <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a data-iconcolor="#910101" href="@pininterest">
                  <i class="icon-pinterest"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  @Scripts.Render("~/jquery", "~/jqueryval", "~/jqueryunobtrusiveval", "~/js")
</body>
</html>
