@model JustBlog.Core.Objects.Post
@using System.Configuration;

@{
	var authorName = ConfigurationManager.AppSettings["Author"];
}

<article class="post row-fluid">
 	<div class="post-body">
      <div class="post-head">
        <h2 class="small-screen-center">
			   @Html.PostLink(Model)
        </h2>
        <div>
          <div class="post-extras">

            <i class="icon-tags"></i>
            @Helpers.Tags(Html, Model.Tags)

            <i class="icon-bookmark"></i>
  		      @Html.CategoryLink(Model.Category)

            <i class="icon-comments"></i>
            <a href="@string.Format("{0}#disqus_thread", Model.Href(Url))"></a>
          </div>

          <div class="posted-dt">
              @Model.PostedOn.ToConfigLocalTime()
          </div>
        </div>
      </div>
      <div class="share-links">
        @Html.Partial("_AddThis")
      </div>

      @Html.Raw(Model.ShortDescription)

      <a href="@Url.RouteUrl(new { controller = "blog", action = "post", year = Model.PostedOn.Year, month = Model.PostedOn.Month, title = Model.UrlSlug })" class="more-link pull-right" title="Read More">
        <strong>
          Read
        </strong>
        More
      </a>
	</div>
</article>