@model JustBlog.Models.WidgetViewModel

@{
  var feedBurnerUrl = System.Configuration.ConfigurationManager.AppSettings["FeedBurnerUrl"];
}

<aside class="span3 sidebar">
  @Html.Partial("_Search") 
  <div class="sidebar-widget feeddiv">
    <a href="@feedBurnerUrl" title="Subscribe to my blog"><img src="/Assets/themes/smartbox/images/rss-icon.png" /><span>Subscribe to my blog</span></a>
  </div>
  @Html.Partial("_Categories", Model.Categories)
  @Html.Partial("_Tags", Model.Tags)
  @Html.Partial("_LatestPosts", Model.LatestPosts)
</aside>
