<!-- AddThis Widget -->

@model JustBlog.Core.Objects.Post

@{
  var addThisUrl = System.Configuration.ConfigurationManager.AppSettings["AddThisUrl"];
}

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_preferred_1" addthis:url="@(string.Format("http://www.prideparrot.com{0}", Model.Href(Url)))" addthis:title="@Model.Title" addthis:description="@Model.Meta"></a>
  <a class="addthis_button_preferred_2" addthis:url="@(string.Format("http://www.prideparrot.com{0}", Model.Href(Url)))" addthis:title="@Model.Title" addthis:description="@Model.Meta"></a>
  <a class="addthis_button_preferred_3" addthis:url="@(string.Format("http://www.prideparrot.com{0}", Model.Href(Url)))" addthis:title="@Model.Title" addthis:description="@Model.Meta"></a>
  <a class="addthis_button_preferred_4" addthis:url="@(string.Format("http://www.prideparrot.com{0}", Model.Href(Url)))" addthis:title="@Model.Title" addthis:description="@Model.Meta"></a>
  <a class="addthis_button_compact" addthis:url="@(string.Format("http://www.prideparrot.com{0}", Model.Href(Url)))" addthis:title="@Model.Title" addthis:description="@Model.Meta"></a>
  <a class="addthis_counter addthis_bubble_style" addthis:url="@(string.Format("http://www.prideparrot.com{0}", Model.Href(Url)))" addthis:title="@Model.Title" addthis:description="@Model.Meta"></a>
</div>

<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>

<script type="text/javascript" src="@addThisUrl"></script>
<!-- AddThis Button END -->