@model JustBlog.Models.LoginModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Login</title>

  @Styles.Render("~/Content/themes/simple/admin")
  @Scripts.Render("~/jquery", "~/jqueryval", "~/jqueryunobtrusiveval")
</head>
<body>
  <div id="login-div">
    @Html.ValidationSummary(true)

    @using (Html.BeginForm())
    {
      <fieldset>
        <legend>Login</legend>
        <p>
          @Html.LabelFor(m => m.UserName)
          @Html.TextBoxFor(m => m.UserName)
          @Html.ValidationMessageFor(m => m.UserName)
        </p>

        <p>
          @Html.LabelFor(m => m.Password)
          @Html.PasswordFor(m => m.Password)
          @Html.ValidationMessageFor(m => m.Password)
        </p>

        @Html.Hidden("ReturnUrl")
        @Html.AntiForgeryToken()

        <p>
          <input type="submit" value="Login" />
        </p>
      </fieldset>
    }
  </div>
</body>
</html>
