@model JustBlog.Core.Objects.Contact

@{
  ViewBag.Title = "Contact";
}

<section class="section section-alt">
	<div class="row-fluid">
	  <div class="super-hero-unit">
	    <figure>
	      <img alt="some image" src="/Assets/themes/smartbox/images/assets/landscapes/landscape-3-1250x300.jpg">
	      <figcaption class="flex-caption">
	        <h1 class="super animated fadeinup delayed">
	          You 
	          <span class="lighter">
	            &amp;
	          </span>
	          Us
	        </h1>
	      </figcaption>
	    </figure>
	  </div>
	</div>
</section>

<section class="section section-padded">
	<div class="container-fluid">
	  <div class="section-header">
	    <h1>
	      Want
	      <small class="light">to talk?</small>
	    </h1>
	  </div>
	  <p class="lead text-center">
	  	Do you have questions? ideas? issues? <br /> <span style="font-weight: bold;">please drop a line!</span>
	  </p>
	  <div class="row-fluid">
	    <div class="offset3 span6">
	      @using (Html.BeginForm("Contact", "Blog", FormMethod.Post, new { @class = "contact-form", id = "contactForm", novalidate = "" }))
    	  {
	        <div class="controls controls-row">
	          <div class="control-group span6">
	            @Html.TextBoxFor(m => m.Name, new { placeholder="your name", @class="span12" })
          		@Html.ValidationMessageFor(m => m.Name)
	          </div>
	          <div class="control-group span6">
	            @Html.TextBoxFor(m => m.Email, new { placeholder="your email", @class="span12" })
          		@Html.ValidationMessageFor(m => m.Email)
	          </div>
	        </div>
	        <div class="controls controls-row">
	          <div class="control-group span12">
	            @Html.TextBoxFor(m => m.Subject, new { placeholder="subject", @class="span12" })
          		@Html.ValidationMessageFor(m => m.Subject)
	          </div>
	        </div>
	        <div class="controls controls-row">
	          <div class="control-group span12">
	            @Html.TextAreaFor(m => m.Body, new { rows = 5, placeholder="I want to talk about... ", @class="span12" })
          		@Html.ValidationMessageFor(m => m.Body)
	          </div>
	        </div>
	        <div class="controls controls-row">
	          <div class="control-group span12">
	            <button class="btn btn-primary" name="submitButton" type="submit">
	              Send Message
	            </button>
	          </div>
	        </div>
	      }
	      <div id="messages"></div>
	    </div>
	  </div>
	</div>
</section>
