@model JustBlog.Core.Objects.Post
@using System.Configuration;

@{
  ViewBag.Title = Model.Title;
  ViewBag.Keywords = string.Join(" ", Model.Tags.Select(t => t.Name).ToArray());
  ViewBag.Description = Model.Meta;
  var authorName = ConfigurationManager.AppSettings["Author"];
}

<section class="section section-alt">
	<div class="row-fluid">
	  <div class="super-hero-unit">
	    <figure>
	      <img alt="some image" src="/Assets/themes/smartbox/images/assets/landscapes/landscape-2-1250x300.jpg">
	      <figcaption class="flex-caption">
	        <h1 class="super animated fadeinup delayed">
	          Writings, Experiments 
	          <span class="lighter">
	            &amp;
	          </span>
	          More...
	        </h1>
	      </figcaption>
	    </figure>
	  </div>
	</div>
</section>

<section class="section section-padded">
  <div class="container-fluid">
    <div class="row-fluid">
		<div class="span9">
			<article class="post row-fluid">
			 	<div class="post-body">
			      <div class="post-head">
			        <h2 class="small-screen-center">
						@Html.PostLink(Model)
			        </h2>
			        <div class="post-extras">

			          <i class="icon-tags"></i>
			          @Helpers.Tags(Html, Model.Tags)

			          <i class="icon-bookmark"></i>
					  @Html.CategoryLink(Model.Category)

			          <i class="icon-comments"></i>
			          <a href="@string.Format("{0}#disqus_thread", Model.Href(Url))"></a>
			        </div>
			        <div class="posted-dt">
		              @Model.PostedOn.ToConfigLocalTime()
		          </div>
			      </div>
			      <div class="share-links">
			        @Html.Partial("_AddThis")
			      </div>

			      @Html.Raw(Model.Description)

				  @Html.Partial("_Disqus")

				</div>
			</article>
		</div>

		@Html.Action("Sidebars")
	</div>
  </div>
</section>